@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif ;
}
html{
    scroll-behavior: smooth;
}
.container{
    background-color: #272C32;
    display: flex;
}
/* styling navbar */
.navbar{
    width: 250px;
    background-color: #2A2E37;
    color: #A6BBCC;
    position: fixed; 
    top: 0;
    left: 0;
    height: 100%; 
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
}
.navbar img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.navbar ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style-type: none;
}
.navbar ul li a{
    text-decoration: none;
    color:white;
    padding: 10px 50px;
    border-radius: 20px;
    transition: 0.5s;
}
.navbar ul li a:hover{
    background-color: rgb(12, 32, 68);
}
/* end navbar */


.pages{
    margin-left: 250px; 
            padding: 20px;
            box-sizing: border-box;
            color: aliceblue;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 200px;
}
/* animation */
@keyframes slide-up{
    from{
        transform: translateY(-100px);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes slide{
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(-10px);
    }
}
@keyframes progress {
    0%{
        width: 0;
        opacity: 1;
    }

    100%{
        opacity: 1;
    }
}
@keyframes waviy {
    0%,40%,100% {
    transform: translateY(0)
    }
    20% {
    transform: translateY(-20px)
    }
}
@keyframes fade-in{
    to{
        scale: 1;
        opacity: 1;
    }
}


/* styling home */
.home{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.top{
    display: flex;
    align-items: center;
    gap: 50px;
    color: #A6BBCC;
    animation: slide 1s ease-in;
    animation-timeline: view();
    animation-range: contain;
}
.top hr{
    width: 100%;
    background-color: #A6BBCC;
}
.bottom{
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: center;
    animation: slide-up 1s ease-in;
    animation-timeline: view();
    animation-range: exit;
}
.bottom img{
    width: 500px;
    border-radius: 15px;
    opacity: 0;
    transform: translateX(+200px);
    transition: transform 3s ease, opacity 3s ease;
}
.user.visible{
    opacity: 1;
    transform: translateX(0);
}
.left{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    font-size: 40px;
}
.left h2{
    color: #A6BBCC;
}
.left a{
    text-decoration: none;
    color: white;
}
.bottom:hover{
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px 10px #3c444e;
}
.wave {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 60px;
}
.wave span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 1.5s infinite;
    animation-delay: calc(.1s * var(--i));

}
/* end of home */


/* styling About */
.about{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.row-2{
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
    font-size: 30px;
    animation: slide-up 1s ease-in;
    animation-timeline: view();
    animation-range: exit;
}
.row-2 img{
    width: 500px;
    height: 500px;
    border-radius: 15px;
    opacity: 0;
    transform: translateY(+200px);
    transition: transform 3s ease, opacity 3s ease;
}
.camputer.visible{
    opacity: 1;
    transform: translateY(0);
}
.row-2:hover{
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1) inset , -10px -10px 10px #3c444e inset;
}
/* end About */


/* begin of skills */
.levelbar{
    opacity: 0;
    transform: translateX(+200px);
    transition: transform 3s ease, opacity 3s ease;
}
.levelbar.visible{
    opacity: 1;
    transform: translateX(0);
}
.skills{
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #272C32
}
.skillss {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
.html {width: 90%; background-color: #A6BBCC;}
.css {width: 80%; background-color: #A6BBCC;}
.js {width: 65%; background-color: #A6BBCC;}
.php {width: 60%; background-color: #A6BBCC;}



.general{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.SkillBox1{
    width: 50%;
}
.SkillBox2{
    width: 50%;
}


.SkillBox1 .skill-box{
    width: 100%;
    margin: 25px 0;
}
.SkillBox2 .skill-box{
    width: 100%;
    margin: 25px 0;
}

.skill-box .title{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.skill-box .skill-bar{
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0,0,0,0.1);
}

.skill-bar .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 70%;
    border-radius: 6px;
    background: #A6BBCC;
    animation: progress 1.5s ease-in-out forwards ;
    animation-timeline: view();
    animation-range-start: entry;
    animation-range-end: 100px;
    opacity: 0;
}

.skill-per.css{
    width: 65%;
    animation-delay: 10.0 ;
}

.skill-per.javascript{
    width: 20%;
    animation-delay: 0.6;
}

.skill-per.python{
    width: 40%;
    animation-delay: 0.7;
}

.skill-per.c{
    width: 80%;
    animation-delay: 0.8;
}

.skill-per .tooltip{
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: #4070f4;
    z-index: 1;
}

.tooltip::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: #4070f4;
    transform: translateX(-50%) rotate(45deg);
}
.pa{
    animation: slide 1s ease-in;
    animation-timeline: view();
    animation-range-start: entry;
    animation-range-end: 700px;
    text-align: center;
    font-size: 30px;
}

/* end skiils */




/* styling Project */

.projects{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pframe{
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.fra1{
    display: flex;
    justify-content: space-around;
}
.fra2{
    display: flex;
    justify-content: space-around;
}
.frame{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.frame h2 a{
    color: white;
    text-decoration: none;
}
.frame img{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    /* scale: .10;
    opacity: 0;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: contain 1000px; */
}
#right1{
    opacity: 0;
    transform: translateX(+200px);
    transition: transform 3s ease, opacity 3s ease;
}
#right2{
    opacity: 0;
    transform: translateX(-200px);
    transition: transform 3s ease, opacity 3s ease;
}
#tople{
    opacity: 0;
    transform: translateX(-200px);
    transition: transform 3s ease, opacity 3s ease;
}
#butle{
    opacity: 0;
    transform: translateX(+200px);
    transition: transform 3s ease, opacity 3s ease;
}
#right1.visible{
    opacity: 1;
    transform: translateX(0);
}
#right2.visible{
    opacity: 1;
    transform: translateX(0);
}
#tople.visible{
    opacity: 1;
    transform: translateX(0);
}
#butle.visible{
    opacity: 1;
    transform: translateX(0);
}

/* end Project */




/* styling Contact */
.contact{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.co-bottom{
    display: flex;
    justify-content: space-evenly;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:  solid white;
    border-radius: 10px;
    width: 40%;
    height: 450px;
    padding: 20px;
    padding-top: 50px;
    gap: 40px;
    opacity: 0;
    transform: translateX(-200px);
    transition: transform 3s ease, opacity 3s ease;
}
form.visible{
    opacity: 1;
    transform: translateX(0);
}
form:hover{
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1)  , -10px -10px 10px black;
}
input{
    height: 30px;
    width: 80%;
    border-radius: 10px;
    padding-left: 25px;
}
textarea{
    height: 50px;
    width: 80%;
    border-radius: 10px;
    padding-left: 25px;
}

.submit{
    width: 70%;
    height: 30px;
    border-radius: 10px;
    background-color: #272C32;
    color: white;
}
.social{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
    justify-content: center;
}
.icon{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
}
.icon a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
}
a img{
    width: 50px;
}
a p{
    font-size: small;
}
.down{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: rgb(255,181,0) 1px solid;
    border-radius: 35px;
    letter-spacing: 2px;
    width: 300px;
    height: 40px;
    text-decoration: none;
    color: white;
}
.down:hover{
    background-color: rgb(255,181,0);
}
.down img{
    width: 20px;
}